<html>
<head>
  <title>Contact List</title>
</head>
<body>
  <h1>Contact List</h1>
    {% if contacts is not empty %}
      <p>Name:<p>
        <ul>
        {% for newcontact in contacts %}
            <li>{{ newcontact.getContact }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <form action='/create_contact' method='post'>
      <label for='contact'>Name</label>
      <input id='contact' name='contact' type='text'>

      <button type='submit'>Add Contact</button>
    </form>
    <form action='/delete_contacts' method='post'>
      <button type='submit'>Delete Contacts</button>
    </form>
</body>
</html>
