<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' type='text/css'>
      <title>Contact List</title>
  </head>
  <body>
    <div class='container'>
      <h1>You added a Contact</h1>
  {% if contacts is not empty %}
    <p>Name, Number, Address, Picutre:</p>
      <ul>
      {% for newcontact in contacts %}
          <img src="{{ newcontact.getImage }}"/>
          <li>{{ newcontact.getContact }}</li>
          <li>{{ newcontact.getNumber }}</li>
          <li>{{ newcontact.getAddress }}</li>

      {% endfor %}
      </ul>
  {% endif %}
    <button type='submit'><a href='/'>View Contacts</a></button>
  </div>
  </body>
</html>
