<html>
  <head>
    <link rel='stylesheet' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css' type='text/css'>
    <title>Contact List</title>
  </head>
  <body>
    <div class='container'>
      <h1>Contact List Cleared</h1>
      <button type='submit'><a href='/'>Home</a></button>
    </div>
  </body>
</html>
